html {
  box-sizing: border-box;
  font-family: 'Inter';
  font-size: 100%;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
}

h1 {
  font-size: 1.5rem;
  line-height: 125%;
}
h2 {
  font-size: 1.25rem;
  font-size: 120%;
}

.section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.advanced-settings {
  padding: 1rem;
}
