:root {
  --color-primary: 216, 83%, 45%;
  --color-secondary: 215, 49%, 87%;
  --color-neutral-0: 0, 0%, 100%;
  --color-neutral-1: 204, 33%, 97%;
  --color-neutral-2: 213, 30%, 85%;
  --color-invert-0: 0, 0%, 0%;
  --color-invert-1: 205, 84%, 10%;
  --color-invert-2: 206, 20%, 46%;
  --color-invert-3: 205, 20%, 70%;
  /* Font sizes */
  --text-size-x-small: 1.1rem;
  --text-size-small: 1.2rem;
  --text-size-medium: 1.4rem;
  --text-size-large: 1.6rem;
  --text-size-x-large: 1.8rem;
  /* Font weights */
  --text-weight-normal: 400;
  --text-weight-bold: 600;
  /* Line height */
  --line-height-small: 1.6rem;
  --line-height-medium: 2rem;
  --line-height-large: 2.4rem;
  /* SPACING + SIZING */
  /* Positive spacing */
  --size-xxx-small: 0.4rem;
  --size-xx-small: 0.8rem;
  --size-x-small: 1.6rem;
  --size-small: 2rem;
  --size-medium: 2.4rem;
  --size-x-large: 4.8rem;
  /* Negative spacing */
  --negative-size-xxx-small: calc(var(--size-xxx-small) * -1);
  --negative-size-xx-small: calc(var(--size-xx-small) * -1);
  --negative-size-x-small: calc(var(--size-x-small) * -1);
  --negative-size-small: calc(var(--size-small) * -1);
  --negative-size-medium: calc(var(--size-medium) * -1);
  --negative-size-x-large: calc(var(--size-x-large) * -1);
  /* BORDER RADIUS */
  --border-radius-small: 0.2rem;
  --border-radius-medium: 0.5rem;
  --border-radius-large: 0.6rem;
  /* TRANSFORMS */
  --translate: -50%, -50%;
  --rotate: 0deg;
  --scale: 1;
  /* TRANSITIONS */
  --transition-x-fast: 0.1s;
  --transition-fast: 0.2s;
  --transition-medium: 0.3s;
  --transition-slow: 0.4s;
  --transition-x-slow: 0.5s;
}

/* Basics */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  text-rendering: inherit;
}

html {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: 62.5%;
  text-rendering: geometricPrecision;
  font-feature-settings: "tnum" on, "lnum" on, "cv02" on, "cv03" on, "cv04" on, "cv05" on, "cv07" on, "cv08" on, "cv09" on, "cv10" on, "cv06" on;
}

body {
  font-size: var(--text-size-medium);
  font-weight: var(--text-weight-normal);
  line-height: var(--line-height-medium);
  color: hsl(var(--color-invert-0));
  background: hsl(var(--color-neutral-1));
}

/* Svg */
svg {
  width: inherit;
  height: inherit;
  fill: inherit;
}

/*  Fonts */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("https://rsms.me/inter/font-files/Inter-Regular.woff2?3.13") format("woff2"), url("https://rsms.me/inter/font-files/Inter-Regular.woff?3.13") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("https://rsms.me/inter/font-files/Inter-SemiBold.woff2?3.13") format("woff2"), url("https://rsms.me/inter/font-files/Inter-SemiBold.woff?3.13") format("woff");
}
/* Text utilities */
h1,
.h1 {
  line-height: var(--line-height-large);
  font-size: var(--text-size-x-large);
  font-weight: var(--text-weight-bold);
  margin: var(--size-xxx-small) 0;
  color: hsl(var(--color-invert-1));
}

h3,
.h3 {
  font-size: var(--text-size-large);
  line-height: var(--line-height-large);
  font-weight: var(--text-weight-bold);
  margin: var(--size-xx-small) 0;
  color: hsl(var(--color-invert-1));
}

h3,
.h3 {
  line-height: var(--line-height-large);
  font-size: var(--text-size-medium);
  font-weight: var(--text-weight-bold);
  margin: var(--size-xx-small) 0;
  color: hsl(var(--color-invert-1));
}

.small {
  line-height: var(--line-height-small);
  font-size: var(--text-size-small);
  font-weight: var(--text-weight-normal);
  color: hsl(var(--color-invert-3));
}

.caption {
  line-height: var(--line-height-small);
  font-size: var(--text-size-x-small);
  font-weight: var(--text-weight-normal);
  margin: 0;
  color: hsl(var(--color-invert-3));
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

main.svelte-1apueeo.svelte-1apueeo {
  margin-bottom: 4.8rem;
}

main.svelte-1apueeo > div.svelte-1apueeo {
  padding: 0 var(--size-x-small);
  margin: 1.6rem 0;
}

footer.svelte-1apueeo.svelte-1apueeo {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: hsl(var(--color-neutral-0));
  box-shadow: 0px 0px 1.6rem hsla(var(--color-invert-0), 0.05);
  padding: 0.4rem 1.2rem;
}

footer.svelte-1apueeo .col {
  flex: 1 1 auto;
  margin: 0.4rem;
}

.helper.svelte-1apueeo.svelte-1apueeo {
  display: flex;
  color: hsl(var(--color-invert-3));
}

.helper.svelte-1apueeo .icon-container {
  flex: 0 0 2.4rem;
  height: auto;
  padding: 0.2rem;
}

.helper.svelte-1apueeo span.svelte-1apueeo {
  margin: 0.2rem 0.8rem;
}

label.svelte-1xs2am0.svelte-1xs2am0 {
  display: flex;
  justify-content: space-between;
  background: transparent;
  border: 1px solid hsl(var(--color-neutral-2));
  border-radius: var(--border-radius-small);
  overflow: hidden;
  font-size: var(--text-size-medium);
  font-weight: var(--text-weight-normal);
  line-height: var(--line-height-medium);
  color: hsl(var(--color-invert-2));
  transition: all var(--transition-fast) ease-out;
  margin: var(--size-xx-small) 0;
}

label.svelte-1xs2am0.svelte-1xs2am0:focus-within {
  box-shadow: 0 0 0 0.2rem hsl(var(--color-invert-0));
}

label.svelte-1xs2am0:focus-within .left-side.svelte-1xs2am0 {
  color: hsl(var(--color-invert-0));
}

.left-side.svelte-1xs2am0.svelte-1xs2am0 {
  flex: 1 1 auto;
  padding: 0.2rem;
  display: inherit;
  color: hsl(var(--color-invert-2));
}

.left-side.svelte-1xs2am0 .icon-container.svelte-1xs2am0 {
  display: inline-block;
  width: var(--size-small);
  height: var(--size-small);
  margin: 0.3rem;
  flex-shrink: 0;
  color: inherit;
}

.left-side.svelte-1xs2am0 .label.svelte-1xs2am0 {
  margin: 0.3rem;
}

.right-side.svelte-1xs2am0.svelte-1xs2am0 {
  display: inline-flex;
  background: hsl(var(--color-neutral-0));
  outline: 1px solid hsl(var(--color-neutral-2));
  flex: 0 0 35%;
  padding: 0.2rem 0.9rem;
}

.right-side.svelte-1xs2am0 input.svelte-1xs2am0 {
  background: transparent;
  border: transparent;
  width: 100%;
  text-align: right;
  line-height: inherit;
  font-weight: var(--text-weight-bold);
  margin: 0.3rem;
}

.right-side.svelte-1xs2am0 input.svelte-1xs2am0:focus {
  outline: transparent;
}

.right-side.svelte-1xs2am0 .unit-measure.svelte-1xs2am0 {
  margin: 0.3rem;
  color: hsl(var(--color-invert-3));
}

input.svelte-1xs2am0.svelte-1xs2am0::-webkit-inner-spin-button, input.svelte-1xs2am0.svelte-1xs2am0::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input.svelte-1xs2am0.svelte-1xs2am0 {
  -moz-appearance: textfield;
}

.unit-measure.svelte-1xs2am0.svelte-1xs2am0:empty {
  display: none;
}

.svg-icon.svelte-4kflf7 {
  color: inherit;
  display: block;
  width: 100%;
  height: 100%;
}

.svg-icon * {
  fill: currentColor;
}

label.svelte-19u47n0.svelte-19u47n0 {
  display: flex;
  margin: var(--size-xx-small) 0;
  color: hsl(var(--color-invert-2));
}

input.svelte-19u47n0.svelte-19u47n0 {
  position: absolute;
  width: var(--size-small);
  height: var(--size-small);
  z-index: -1;
  opacity: 0;
}

input.svelte-19u47n0.svelte-19u47n0:focus {
  outline: 0;
}

.checkbox-toggle.svelte-19u47n0.svelte-19u47n0 {
  position: relative;
  flex: 0 0 var(--size-medium);
  height: var(--size-medium);
}

.checkbox-toggle.svelte-19u47n0.svelte-19u47n0:before, .checkbox-toggle.svelte-19u47n0.svelte-19u47n0:after {
  background: hsl(var(--color-neutral-0));
  border: 1px solid hsl(var(--color-neutral-2));
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  content: "";
  width: 1.8rem;
  height: 1.8rem;
  opacity: 1;
  border-radius: var(--border-radius-small);
  transition: all var(--transition-fast) ease-out;
  filter: brightness(100%);
  transform-origin: center center;
  transform: translate(var(--translate)) rotate(var(--rotate)) scale(var(--scale));
}

.checkbox-toggle.svelte-19u47n0.svelte-19u47n0:before {
  z-index: -2;
}

.checkbox-toggle.svelte-19u47n0.svelte-19u47n0:after {
  z-index: -1;
}

label.svelte-19u47n0:hover .checkbox-toggle.svelte-19u47n0:after {
  filter: brightness(80%);
}

input.svelte-19u47n0:checked ~ .checkbox-toggle.svelte-19u47n0:after, input.svelte-19u47n0:checked ~ .checkbox-toggle.svelte-19u47n0:before {
  background: hsl(var(--color-primary));
  border-color: hsl(var(--color-primary));
}

input.svelte-19u47n0:checked ~ .checkbox-toggle.svelte-19u47n0:before {
  opacity: 0;
  --scale:1.75;
}

.checkbox-icon.svelte-19u47n0.svelte-19u47n0 {
  display: inline-block;
  width: 100%;
  height: 100%;
  transform: scale(0);
  color: hsl(var(--color-invert-1));
  transition: transform var(--transition-fast) ease-out;
}

input:checked ~ .checkbox-toggle.svelte-19u47n0 .checkbox-icon.svelte-19u47n0 {
  transform: scale(1);
  opacity: 1;
}

.label.svelte-19u47n0.svelte-19u47n0 {
  display: inline-flex;
  flex: 1 1 auto;
  margin: 0.2rem 0.8rem;
  justify-content: space-between;
}

.helper.svelte-19u47n0.svelte-19u47n0 {
  font-size: var(--text-size-small);
  font-weight: var(--text-weight-normal);
  margin: 0;
  line-height: var(--line-height-large);
  color: hsl(var(--color-invert-2));
}

.checkbox-icon.svelte-19u47n0 .icon-color {
  color: hsl(var(--color-neutral-0));
}

input.svelte-19u47n0:focus ~ .checkbox-toggle.svelte-19u47n0::after {
  box-shadow: 0 0 0 0.2rem hsl(var(--color-invert-0));
}

.icon-helper.svelte-19u47n0.svelte-19u47n0 {
  flex-shrink: 0;
  display: none;
  width: 2rem;
  height: 2rem;
  margin: 0 -0.8rem;
  color: hsl(var(--color-invert-3));
}

.icon-helper.show.svelte-19u47n0.svelte-19u47n0 {
  display: block;
}

.helper.svelte-19u47n0.svelte-19u47n0:empty {
  display: none;
}

button.svelte-hodw9t {
  display: inline-flex;
  justify-content: center;
  align-content: center;
  position: relative;
  font-size: var(--text-size-medium);
  line-height: var(--line-height-large);
  margin: 0;
  min-width: 8rem;
  padding: 0.3rem 1.2rem;
  border-radius: var(--border-radius-small);
  transition: background var(--transition-fast) ease-in;
}

button.svelte-hodw9t:focus {
  box-shadow: 0 0 0 0.2rem hsl(var(--color-invert-1));
  outline: 0;
}

.primary.svelte-hodw9t {
  background: hsl(var(--color-primary));
  color: hsl(var(--color-neutral-0));
  border: 1px solid hsl(var(--color-primary));
}

.secondary.svelte-hodw9t {
  background: transparent;
  color: hsl(var(--color-primary));
  border: 1px solid hsl(var(--color-neutral-2));
}