/* Basics */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
}

html {
  box-sizing: border-box;
  font-family: 'Inter';
  font-size: 62.5%;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'tnum' on, 'lnum' on, 'ss01' on, 'ss03' on, 'cv05' on, 'case' on;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: var(--text-size-medium);
  font-weight: var(--text-weight-normal);
  line-height: var(--line-height-large);
  color: var(--text-color-default);
  background: var(--color-neutral-base);
}

/* Hyperlink styling */
a {
  color: var(--color-primary-base);
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: var(--color-primary-base);
}
a:active {
  color: var(--color-primary-base);
}
a:focus {
  text-decoration: underline;
}

/* Svg */
svg {
  width: inherit;
  height: inherit;
  // fill: currentColor;
  stroke: currentColor;
}

input {
  width: inherit;
  border: 1px solid var(--color-neutral-strong);
  background: var(--color-neutral-weak);
  padding: var(--size-xxx-small) var(--size-xx-small);
  max-width: 100%;
}
