/* Basics */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  text-rendering: inherit;
}

html {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-size: 62.5%;

  text-rendering: geometricPrecision;
  font-feature-settings: 'tnum' on, 'lnum' on, 'cv02' on, 'cv03' on, 'cv04' on, 'cv05' on, 'cv07' on, 'cv08' on,
    'cv09' on, 'cv10' on, 'cv06' on;
}

body {
  font-size: var(--text-size-medium);
  font-weight: var(--text-weight-normal);
  line-height: var(--line-height-medium);
  color: hsl(var(--color-invert-0));
  background: hsl(var(--color-neutral-1));
}

/* Svg */
svg {
  width: inherit;
  height: inherit;
  fill: inherit;
  // stroke: currentColor;
}
