:root {
  $color-text: rgba(#021420, 95%);
  $color-primary: #2989fb;
  $color-secondary: #a1bbda;
  $color-neutral: #f5f8fa;

  /* color tokens */
  --color-primary-strong: #{darken($color-primary, 10%)};
  --color-primary-base: #{$color-primary};
  --color-primary-weak: #{lighten($color-primary, 10%)};

  --color-secondary-strong: #{darken($color-secondary, 20%)};
  --color-secondary-base: #{$color-secondary};
  --color-secondary-weak: #{lighten($color-secondary, 20%)};

  --color-neutral-x-strong: #{darken($color-neutral, 10%)};
  --color-neutral-strong: #{darken($color-neutral, 5%)};
  --color-neutral-base: #{$color-neutral};
  --color-neutral-weak: #{lighten($color-neutral, 5%)};
  --color-neutral-x-weak: #{lighten($color-neutral, 10%)};

  /* TYPOGRAPHY */
  /* Text colors */
  --text-color-important: #{$color-text};
  --text-color-default: #{rgba($color-text, 70%)};
  --text-color-faded: #{rgba($color-text, 40%)};
  --text-color-contrast: #{invert($color-text)};

  /* Font sizes */
  --text-size-small: 1.3rem;
  --text-size-medium: 1.4rem;
  --text-size-large: 1.6rem;
  --text-size-x-large: 1.8rem;

  /* Font weights */
  --text-weight-normal: 500;
  --text-weight-semibold: 600;
  --text-weight-bold: 700;

  /* Line height */
  --line-height-small: 1.6rem;
  --line-height-large: 2.4rem;

  /* SPACING + SIZING */
  /* Positive spacing */
  --size-xxx-small: 0.4rem;
  --size-xx-small: 0.8rem;
  --size-x-small: 1.6rem;
  --size-small: 2.4rem;
  --size-medium: 3.2rem;
  --size-large: 4rem;
  --size-x-large: 4.8rem;
  --size-xx-large: 6.4rem;
  --size-xxx-large: 8rem;

  /* Negative spacing */
  --negative-size-xxx-small: calc(var(--size-xxx-small) * -1);
  --negative-size-xx-small: calc(var(--size-xx-small) * -1);
  --negative-size-x-small: calc(var(--size-x-small) * -1);
  --negative-size-small: calc(var(--size-small) * -1);
  --negative-size-medium: calc(var(--size-medium) * -1);
  --negative-size-large: calc(var(--size-large) * -1);
  --negative-size-x-large: calc(var(--size-x-large) * -1);
  --negative-size-xx-large: calc(var(--size-xx-large) * -1);
  --negative-size-xxx-large: calc(var(--size-xxx-large) * -1);

  /* BORDER RADIUS */
  --border-radius-small: 0.2rem;
  --border-radius-medium: 0.5rem;
  --border-radius-large: 0.6rem;

  /* INDEPENDENT TRANSFORM */
  --translate-x: -50%;
  --translate-y: -50%;
  --rotate: 0deg;
  --scale: 1;

  /* TRANSITION */
  --transition-x-fast: 0.1s;
  --transition-fast: 0.2s;
  --transition-medium: 0.3s;
  --transition-slow: 0.4s;
  --transition-x-slow: 0.5s;
}
