/* variables */
$accent: #cc0000;
$accent: #cc0000;

:root {
  /* basic tokens */
  --color-primary: #cc0000;
  --color-secondary: grey;

  /* component tokens */
  --component-checkbox-on: var(--color-primary);
  --component-checkbox-off: var(--color-secondary);
}

/* global properties */
html {
  box-sizing: border-box;
  font-family: 'Inter';
  font-size: 100%;
}

svg {
  width: inherit;
  height: inherit;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit;
}
